.carousel {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  margin: auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images img {
  max-width: 100%;
  display: flex;
  flex-shrink: 0;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 100;
}

.carousel .prev {
  left: 0;
}

.carousel .next {
  right: 0;
}
